<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Signup</title>
  </head>
  <body>
        <form action="/signup/" method="post">
            <label for="username">Username</label><input type="text" name="username" id="username">
            <label for="email">Email</label><input type="email" name="email" id="email">
            <label for="password">Password</label><input type="password" name="password" id="password">
            <label for="confirm-password">Confirm</label><input type="password" name="password2" id="confirm-password">
            <button type="submit">Signup</button>
        </form>
  </body>
</html>